@font-face {
  font-family: "Jost";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Jost Medium"), local("Jost-Medium"), url("../fonts/Jost-Medium.woff") format("woff"), url("../fonts/Jost-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Jost";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Jost Semibold"), local("Jost-Semibold"), url("../fonts/Jost-SemiBold.woff") format("woff"), url("../fonts/Jost-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Jost";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Jost Bold"), local("Jost-Bold"), url("../fonts/Jost-Bold.woff") format("woff"), url("../fonts/Jost-Bold.woff2") format("woff2");
}

