$black: #000000;
$white: #ffffff;
$gray: #6b6b6b;
$darkGray: #383838;
$blackGradient: linear-gradient(107.79deg, #000000 32.88%, #595959 81.28%);
$grayGradient: linear-gradient(360deg, #F5F5F5 0%, #F9F9F9 100%);
$blueGradient: linear-gradient(76.8deg, #1153FC 25.87%, #5480F1 75.99%);
$yellowGradient: linear-gradient(240.45deg, #FFCB52 15.16%, #FF9C08 135.16%);
$buttonBlueGradient: linear-gradient(90deg, #415BFB 10.99%, #6076FF 38.4%, #5C73FF 62.23%, #415BFB 87.26%, #415BFB 87.26%);
$buttonGreenGradient: linear-gradient(90deg, #27B43E 10.99%, #5BD066 38.4%, #5BD066 62.23%, #27B43E 87.26%);
$buttonYellowGradient: linear-gradient(240.45deg, #FFE352 15.16%, #FF9C08 135.16%);
$redGradient: linear-gradient(180deg, #F53F33 0%, #BA1010 100%);
