.to-us {

}

.to-us__container {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 20px;
}

.to-us__heading {
  margin: 0 0 6px 0;
  background: $blackGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.to-us__desc {

}
